
$fuente: "montserrat", sans-serif;

$imagenes: (
    BasuraAgua: "basura_agua.jpg",
    BasuraCalle: "basura_calle.jpg",
    AguaManos: "agua_manos.jpg",
    Veganismo: "veganismo.jpg",
    HumoFabrica: "humo_fabrica.jpg",
    Calentamiento: "calentamiento.jpg"
)